@model CardShop.Domain.Models.GraphicsCard

@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

<div style="padding: 10px;"></div>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://mark.com.ru/wa-data/public/shop/products/48/91/39148/images/41843/41843.200.jpeg"
                 class="img-fluid rounded-start rounded" alt="@Model?.Title">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title text-center">@Model?.Title</h5>
                <p class="card-text"><b>Стоимость: </b>@Model?.Price ₽</p>
                <p class="card-text"><b>Производитель: </b>@Model?.Manufacturer</p>
                <p class="card-text"><b>Модель: </b>@Model?.Model</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <p class="card-text"><b>Описание: </b>@Model?.Description</p>
            </div>
        </div>
    </div>
</div>